.ui.btn.bar {
    width: 100%;
    margin: auto 1.25rem;

    max-width: 78%;
    min-width: 53%;

    display: -webkit-flex; // Safari
    -webkit-justify-content: space-between; // Safari 6.1+
    display: flex;
    justify-content: space-between;
}