@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab:300");
* {
  box-sizing: border-box;
  font-family: sans-serif; }

html, body {
  margin: 0;
  padding: 0;
  background-color: #2C2F33;
  color: #ffffff; }

.ui.header {
  width: 100%;
  text-align: center;
  font-size: 1.75rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }
  .ui.header > .sub.header {
    font-size: 1.15rem;
    font-family: sans-serif;
    display: block;
    color: #99AAB5; }

.ui.credits {
  color: #99AAB5;
  background-color: #23272A;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.25rem; }
  .ui.credits .link {
    color: #7289DA;
    text-decoration: unset; }
    .ui.credits .link:hover {
      color: #4a67cf;
      text-decoration: underline; }
    .ui.credits .link:focus {
      color: #ffffff;
      text-decoration: underline; }
    .ui.credits .link:visited {
      color: #ffffff;
      text-decoration: unset; }

.ui.form {
  margin: auto;
  max-width: 78%;
  min-width: 53%;
  padding: 1.25rem auto; }
  .ui.form .input {
    width: 100%;
    padding: 0.7rem; }
    .ui.form .input label {
      font-size: 0.8rem;
      margin: 0;
      display: block; }
    .ui.form .input input[type=text] {
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s;
      border: 1px solid #23272A;
      border-radius: 0.25rem;
      background-color: black;
      padding: 0.875rem 1rem;
      display: block;
      width: 100%;
      color: #ffffff; }
      .ui.form .input input[type=text]:focus {
        outline: none;
        border-color: #7289DA; }
      .ui.form .input input[type=text]:hover {
        border-color: #ffffff; }
    .ui.form .input select {
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s;
      border: 1px solid #23272A;
      border-radius: 0.25rem;
      background-color: black;
      padding: 0.875rem 1rem;
      display: block;
      width: 100%;
      color: #ffffff; }
      .ui.form .input select:focus {
        outline: none;
        border-color: #7289DA; }
      .ui.form .input select:hover {
        border-color: #ffffff; }
  .ui.form button {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    float: right;
    background-color: #7289DA;
    padding: 0.875rem 1rem;
    border: none;
    border-radius: 0.25rem;
    color: #ffffff; }
    .ui.form button:hover {
      background-color: #4a67cf; }
    .ui.form button:focus {
      outline: none;
      background-color: #304eb6; }

.ui.preview {
  padding: 1.1rem;
  margin: 1.25rem auto;
  max-width: 78%;
  min-width: 53%;
  background-color: #7289DA;
  -webkit-box-align: start;
  align-items: flex-start;
  display: flex;
  border-radius: 0.75rem; }
  .ui.preview .images {
    position: relative; }
    .ui.preview .images img {
      -webkit-user-drag: none; }
      .ui.preview .images img.big.image {
        position: relative;
        display: block;
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 4px; }
      .ui.preview .images img.small.image {
        position: absolute;
        bottom: -4px;
        right: -4px;
        border-radius: 50%;
        width: 20px;
        height: 20px; }
  .ui.preview .info {
    flex: 1 1 auto;
    margin-left: 10px;
    overflow: hidden; }
    .ui.preview .info .text.row {
      white-space: nowrap;
      text-overflow: ellipsis;
      line-height: 16px;
      font-size: 14px;
      display: block;
      margin-bottom: 2px; }
      .ui.preview .info .text.row.name {
        font-weight: 600; }

.ui.grid:after {
  content: "";
  display: table;
  clear: both; }

.ui.grid .column {
  width: 50%;
  float: left; }

.ui.grid .row {
  width: 100%;
  display: block; }
