@import 'includes/fonts';
@import 'includes/vars';
@import 'includes/reset';

@import 'includes/mixins/base-input';
@import 'includes/mixins/base-transition';

body {
    -webkit-app-region: drag;
    -webkit-user-select: none;
}

input {
    -webkit-app-region: no-drag;
    -webkit-user-select: text;
}

button {
    -webkit-app-region: no-drag;
}

.ui {
    &.header {
        width: 100%;
        text-align: center;
        font-size: 1.75rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

        & > .sub.header {
            font-size: 1.15rem;
            font-family: sans-serif;
            display: block;
            color: $l-gray;
        }
    }

    &.credits {
        color: $l-gray;
        background-color: $d-gray;
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0.25rem;

        & .link {
            color: $blue;
            text-decoration: unset;

            &:hover {
                color: darken($blue, 10%);
                text-decoration: underline;
            }

            &:focus {
                color: $white;
                text-decoration: underline;
            }

            &:visited {
                color: $white;
                text-decoration: unset;
            }
        }
    }

    &.form {
        margin: auto;
        max-width: 78%;
        min-width: 53%;
        padding: 1.25rem auto;

        & .input {
            width: 100%;
            padding: 0.7rem;

            & label {
                font-size: 0.8rem;
                margin: 0;
                display: block;
            }

            & input[type=text] {
                @include base-transition;
                @include base-input;
            }

            & select {
                @include base-transition;
                @include base-input;
            }
        }

        // TODO Fix form button alignment
        & button {
            @include base-transition;

            float: right;

            background-color: $blue;
            padding: $input-pad;
            border: none;
            border-radius: 0.25rem;
            color: $white;

            &:hover {
                background-color: darken($blue, 10%);
            }

            &:focus {
                outline: none;

                background-color: darken($blue, 20%);
            }
        }
    }

    &.preview {
        padding: 1.1rem;
        margin: 1.25rem auto;

        max-width: 78%;
        min-width: 53%;

        background-color: $blue;

        -webkit-box-align: start;
        align-items: flex-start;

        display: flex;

        border-radius: 0.75rem;

        & .images {
            position: relative;

            & img {
                -webkit-user-drag: none;

                &.big.image {
                    position: relative;
                    display: block;

                    width: 60px;
                    height: 60px;

                    object-fit: cover;

                    border-radius: 4px;
                }

                &.small.image {
                    position: absolute;
                    bottom: -4px;
                    right: -4px;

                    border-radius: 50%;

                    width: 20px;
                    height: 20px;
                }
            }
        }

        & .info {
            flex: 1 1 auto;
            
            margin-left: 10px;

            overflow: hidden;

            & .text.row {
                white-space: nowrap;
                text-overflow: ellipsis;

                line-height: 16px;
                font-size: 14px;

                display: block;

                margin-bottom: 2px;

                &.name {
                    font-weight: 600;
                }
            }
        }
    }

    &.grid {
        &:after {
            content: "";
            display: table;
            clear: both;
        }

        & .column {
            width: 50%;

            float: left;
        }
    
        & .row {
            width: 100%;
    
            display: block;
        }
    }
}