@mixin base-input() {
    border: 1px solid $d-gray;
    border-radius: 0.25rem;
    background-color: $input-bg;
    padding: $input-pad;
    display: block;
    width: 100%;
    color: $white;

    &:focus {
        outline: none;
        border-color: $blue;
    }

    &:hover {
        border-color: $white;
    }

    &.error {}
}